<h1>User List</h1>
<form action="/users" method="POST">
    <input type="text" name="name" placeholder="Name" required>
    <input type="email" name="email" placeholder="Email" required>
    <button type="submit">Add User</button>
</form>
<ul>
    {{#each users}}
    <li>{{this.name}} - {{this.email}}</li>
    {{/each}}
</ul>